<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
    ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    </appender>

    <root level="info">
    <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.apache" level="error"/>
    <logger name="org.h2" level="debug"/>
    <logger name="org.postgresql" level="debug"/>
    <logger name="slick.jdbc" level="debug"/>
    <logger name="slick.jdbc.hikaricp" level="debug"/>

</configuration>